* {
  margin: 0;
}

body {
  padding-top: 30px;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  background: darkgreen;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

.navbar-brand {
  color: white;
  text-decoration: none;
}

.jumbotron {
  padding: 48px 15px;
  background-color: #eeeeee;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

.todo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.todo input {
  margin-right: 10px;
}


